* ---------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------- */

/* Isto deve fazer-se sempre para remover qualquer margem, padding, etc */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}




/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #406E8E; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #23395B; 
}



/* Selecinar cor, fontes e tamanhos padrão para todo o documento html */
html,
body {
    background-color: #fff;
    color: #555;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden; /*isto esconde tudo o que va para alem do eixo x*/
}


/*Esta classe serve para limpar os floats, é um procedimento universal q
ue deve ser feito sempre, ou muitas vezes, ela basicamente elimina os 
floats depois de um elemento */






/* ---------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------------- */


.row {
    max-width: 1140px;
    margin: 0 auto;
}


/*Espaço em branco em todas as seccoes*/
section {
    padding: 80px 0;
}


/*-----HEADLINE/TITULOS-----*/


h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}



/*-----BUTTONS/BOTOES-----*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-full:link,
.btn-full:visited {
    border-radius: 40px 40px;
    background-color: #fff;
    border: 1px solid #fff;
    color: #23395B;
    margin-right: 15px;
    text-transform: uppercase;
}


.btn-ghost:link,
.btn-ghost:visited {
    border-radius: 40px 40px;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
}



.btn-full:hover,
.btn-full:active {

    background-color: rgba(255, 255, 255, 0.616);
    border: 1px solid rgba(255, 255, 255, 0.514);
    color: #333;
}


.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid rgba(255, 255, 255, 0.747);
    color: #333;
    background-color: rgba(255, 255, 255, 0.747);
}


/*-----LINKS-----*/
    
a:link,
a:visited {
    color: #00BFFF;
    text-decoration: none;
    padding-bottom: 1px;
    -webkit-transition: border-bottom 0.2s, border 0.2s, color 0.2s;
    transition:  border 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}


/* ----------------------------------------------------------------------------------------------------- */





/* ---------------------------------------------- */
/* HEADER */
/* ---------------------------------------------- */

/* 100vh = 100% viewport */
header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(64, 110, 142, 0.52)), to(rgba(0, 0, 0, 0.383))), url(img/tumblr_ng88k4nD8U1tv1qiho1_1280.gif);
    background-image: linear-gradient(rgba(0, 0, 0, 0.287), rgba(0, 0, 0, 0.109)), url(img/tumblr_ng88k4nD8U1tv1qiho1_1280.gif);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}


/* A propriedade "transform" serve para traduzir metade do tamanho do elemento para a esuqerda e para o topo neste caso */
/* Isto é a caixa que contém o titulo do header e os botoes */
.hero-text-box {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}


select {
    padding:12px;
    margin-top:8px;
    line-height:1;
    border-radius:5px;
    color: rgba(255, 255, 255, 0.40);
    text-transform: uppercase;
    -webkit-appearance:none;
    outline:none
    }

    select option {
        padding: 12px;
        border: 0;
        background-color:  #23395B;
        color: #fff;
    }



.hero-text-box h1 {
    margin-left: 21.5%;
}

.hero-text-box .btn-full {
    margin-top: 5%;
    margin-left: 38%;
}


.hero-text-box .local {
    float: left;
    width: 27%;
    height: 44px;
    border-radius: 40px 40px;
    margin-right: 3.8%;
    margin-left: 21.5%;
    margin-top: 15px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.30);
    transition: border 0.2s;
}


.hero-text-box .local:focus {
    border: 1px solid #fff;
}

.hero-text-box .search-bar {
    float: left;
    width: 31.4%;
}



input[type=text] {
    width: 78%;
    height: 40px;
    margin-top: 15px;
    padding-left: 12px;
    margin-left: -13px;
    color: #fff;
    border-radius: 40px 40px;
    text-transform: capitalize;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.40);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: -1;
    outline: none;
    transition: color border 0.2s;
}

input[type=text]:focus {
    border: 1px solid #fff;
}


input[type=text]::-webkit-input-placeholder {
    margin-left: 15%;
    padding: 12px;
    font-size: 100%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.40);
    z-index: -1;
}


input[type=text]::-ms-input-placeholder {
    margin-left: 15%;
    padding: 12px;
    font-size: 100%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.40);
    z-index: -1;
}




input[type=text]::placeholder {
    margin-left: 15%;
    padding: 12px;
    font-size: 100%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.40);
    z-index: -1;
}



button {
    width: 15%;
    height: 44px;
    border-radius: 0px 30px 30px 0px;
    border: 0;
    margin-left: -68px;
    color: #fff;
    outline: none;
    background-color: transparent;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

button:hover {
    color: #fff;

}





/*-----main navi----*/
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline;
    margin: 40px;
}


/*-----NAV BUTTONS STYLE-----*/
.main-nav li a:link, 
.main-nav li a:visited {
    padding: 8px 0;
    color: #b9b9b9;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    transition: color 0.2s;
}

/*o border tem de existir no estado anterior para poder aparecer, pode ficar transparente */
.main-nav li a:hover, 
.main-nav li a:active {
    color: #fff;
}



